.ui-page {
    -webkit-backface-visibility: hidden;
}

.ui-header,
.ui-bar-a {
    border-top-width: 1px;
}

.ui-mobile label,
div.ui-controlgroup-label {
    font-weight: bold;
}

.ui-input-text,
.ui-input-search {
    border-width: 0;
}

div.ui-controlgroup-label {
    margin: 0 0 0 15px !important;
}
/*
fieldset legend {
    padding: 15px;
    background-color: #007dd0;
    text-align: center;
    font-weight: normal;
    color: white;
}
*/
/*BOTON DEL PIE*/

.footer-button-left,
.footer-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}

.footer-button-left {
    left: 0.4em;
}

.footer-button-right {
    right: 0.4em;
}
/*BOTON DE LA CABECERA*/

.header-button-left,
.header-button-right {
    position: absolute;
    margin: 0;
    top: auto;
    bottom: 0.24em;
}

.header-button-left {
    left: 0.4em;
}

.header-button-right {
    right: 0.4em;
}

.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset.ui-input-has-clear {
    margin-bottom: 10px;
}

.primer {
    text-align: left;
}

#selecciona {
    padding: .1em 1em .1em 1em;
}

#selec_mod,
#selec_alum {
    margin: 0;
}

.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
    background-color: white;
    border-color: #004472;
    color: black;
    text-shadow: 0 0 0 #c4def8;
    font-weight: bold;
}

#login {
    background-color: white;
}

#seleccion {
    background-color: #c4def8;
}

#calificacion {
    background-color: white;
}

#btn_sal,
#btn_alum {
    display: none;
}

@media screen and (max-width: 520px) {
    #btn_sal1,
    #btn_alum1 {
        display: none;
    }
    #btn_sal,
    #btn_alum {
        display: inline;
        padding: 1.3em;
    }
}

/*
#val1{
    float:left;
}
*/
/*
#val1:before {
   content:hhhh;
}

/*
<div data-role="navbar" data-iconpos="left" class="ui-navbar" role="navigation">
                <ul class="ui-grid-a">
                    <li class="ui-block-b">
                        <a href="#calificacion" class="ui-btn-active ui-state-persist ui-link ui-btn ui-btn-icon-top ui-icon-check" title="Califica la presentacion oral">EXPRESIÓN ORAL</a>
                        <a id="info_panel" href="#ayuda_entrada" data-role="button" class="ui-btn-left" data-icon="info" data-iconpos="notext" data-rel="close" title="¿Qué valorar en entrada?"></a>
                    </li>
                </ul>
            </div>
*/