.ui-header,
.ui-bar-a {
    border-top-width: 1px;
}
.ui-mobile label,
div.ui-controlgroup-label {
    font-weight: bold;
}
.ui-input-text,
.ui-input-search {
    border-width: 0;
}

div.ui-controlgroup-label{
    margin: 0 0 0 15px !important;
}

/*
fieldset legend {
    padding: 15px;
    background-color: #007dd0;
    text-align: center;
    font-weight: normal;
    color: white;
}
*/
